<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-300 flex items-center justify-center min-h-screen">
<div class="bg-white shadow-lg rounded-lg p-8 w-96">
    <h2 class="text-2xl font-bold mb-6 text-center">Đăng Nhập</h2>
    <form action="#" th:action="@{/login}" method="post">
        <div class="mb-4">
            <label for="username" class="block text-sm font-medium text-gray-700">Tài Khoản:</label>
            <input type="text" id="username" name="username" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" required/>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-gray-700">Mật Khẩu:</label>
            <input type="password" id="password" name="password" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" required/>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 rounded hover:bg-blue-600">Đăng Nhập</button>
    </form>
    <p class="mt-4 text-red-500 text-center" th:text="${param.error}"></p> <!-- Hiển thị thông báo lỗi nếu có -->
    
    <div class="mt-6 text-center">
        <a th:href="@{/register}" class="text-blue-500 hover:underline">Đăng ký</a>
    </div>
</div>
</body>
</html>